html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        base(href="/")
        title Chat
    body 
        header 
            h1 Raven 
        main 
            div#welcome
                form
                    input(placeholder="Room name", required, type="text")
                    button Enter Room
            div#room
                h3
                ul
                form#name
                    input(placeholder="nickname", required, type="text")
                    button Save
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
        script(src="/socket.io/socket.io.js") 
        script(src="../public/app.js") 
        //- 왜 /public/app.js를 하면
        //- Uncaught SyntaxError: Unexpected token '<' 한 오류가 날까..?